<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.shortcuts</string>
	<key>connections</key>
	<dict>
		<key>0A77AD31-D9B7-4FE5-869D-ADAB4C03C845</key>
		<array/>
		<key>1128D030-5A3C-43C0-8B79-84EE063E2F1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1323F48F-E437-45DD-B8A6-33410D2A376D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A77AD31-D9B7-4FE5-869D-ADAB4C03C845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>176F2785-CF64-434B-BA5E-B1C8896D5C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25855119-4AFB-4E7F-85B6-368A1A69EB9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC66537-4080-4948-9659-D4295927FF6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>54C3747A-A884-4018-BAD0-8D3926DDBCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>756F0559-8EAD-4114-839C-92C1EA776DFF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>176F2785-CF64-434B-BA5E-B1C8896D5C01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>05992BB6-2B0A-4367-885F-0CF4FCDED305</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1128D030-5A3C-43C0-8B79-84EE063E2F1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>566F4FB1-471E-4356-AF50-6A47EBC49EC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>566F4FB1-471E-4356-AF50-6A47EBC49EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4E64080-1FE3-4DC7-B236-87D07ED268B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0916DDA-3E78-43CC-82B8-250F87B06233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DC66537-4080-4948-9659-D4295927FF6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4E64080-1FE3-4DC7-B236-87D07ED268B1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1323F48F-E437-45DD-B8A6-33410D2A376D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit shortcut</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run installled macOS shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Run shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>argument</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:input_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>566F4FB1-471E-4356-AF50-6A47EBC49EC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:all_shortcuts_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting shortcuts…</string>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo.processInfo.environment.objectForKey(varName).js
}

// Get STDOUT from command, as array split from newlines, without empty elements
function linesFromCommand(arguments) {
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.alloc.initFileURLWithPath(arguments[0])
  task.arguments = arguments.slice(1)
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFile
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  return stringOut.split("\n").filter(line =&gt; line)
}

// Array of arrays, listing shortcuts and their directories
const shortcutsList = (function() {
  let list = []
  let uncategorised = linesFromCommand(["/usr/bin/shortcuts", "list"])
  const folders = linesFromCommand(["/usr/bin/shortcuts", "list", "--folders"])

  // Add shortcuts with folders to final list
  folders
    .forEach(folder =&gt; { // For each folder
      linesFromCommand(["/usr/bin/shortcuts", "list", "--folder-name", folder])
        .forEach(shortcut =&gt; { // For each shortcut in folder
          uncategorised.splice(uncategorised.indexOf(shortcut), 1) // Remove from uncategorised
          list.push([shortcut, folder])
        })
    })

  // Add folderless shortcuts to final list
  uncategorised.forEach(shortcut =&gt; list.push([shortcut, ""]))

  return list
})()

// Build items
const sfItems = shortcutsList.map(categorised =&gt; {
  const shortcut = categorised[0]
  const folder = categorised[1]

  const inputType = (function() {
    // If input paths have been specificed
    const envInputPaths = envVar("input_paths")

    if (envInputPaths) {
      const inputPaths = envInputPaths.split("\t")
      const pathsString = inputPaths.join("\n")

      return {
        subtitle: inputPaths.length &gt; 1 ? "Paths: " + pathsString : "Path: " + pathsString,
        mods: { cmd: { valid: false, subtitle: "Input already set: " + pathsString } }
      }
    }

    // If an argument has been specified
    const envArgument = envVar("argument")

    if (envArgument) return {
      subtitle: "Argument: " + envArgument,
      mods: { cmd: { valid: false, subtitle: "Input already set: " + envArgument } }
    }

    // Else return folder name and allow new arguments
    return {
      subtitle: folder,
      mods: { cmd: { subtitle: "Run with argument" } }
    }
  })()

  return {
    variables: { shortcut: shortcut },
    uid: shortcut + " " + folder,
    title: shortcut,
    subtitle: inputType.subtitle,
    mods: inputType.mods,
    match: shortcut + " " + folder
  }
})

// Output JSON
JSON.stringify({ "items": sfItems })</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List all shortcuts</string>
				<key>title</key>
				<string>Shortcuts</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># Special values for OneUpdater reuse
readonly workflow_webaddress="$(/usr/libexec/PlistBuddy -c 'print webaddress' './info.plist')"
readonly workflow_repo="$(basename "$(dirname "${workflow_webaddress}")")/$(basename "${workflow_webaddress}")"

# THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="${workflow_webaddress}/raw/main/Workflow/info.plist"
readonly workflow_url="${workflow_repo}"
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0916DDA-3E78-43CC-82B8-250F87B06233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Run shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:input_paths}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Paths</string>
						<key>uid</key>
						<string>756F0559-8EAD-4114-839C-92C1EA776DFF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Arguments</string>
						<key>uid</key>
						<string>05992BB6-2B0A-4367-885F-0CF4FCDED305</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Input</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>176F2785-CF64-434B-BA5E-B1C8896D5C01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "inputmode" : "{var:inputmode}",
      "shortcut" : "{var:shortcut}",
      "outputmode" : 0
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:argument}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DC66537-4080-4948-9659-D4295927FF6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>-1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1128D030-5A3C-43C0-8B79-84EE063E2F1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Give {var:shortcut} argument</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4E64080-1FE3-4DC7-B236-87D07ED268B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:shortcuts_folders_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting shortcuts…</string>
				<key>script</key>
				<string>require 'json'
require 'open3'

Folders = Open3.capture2('/usr/bin/shortcuts', 'list', '--folders').first.split("\n")

Script_filter_items = Folders.each_with_object([]) { |folder, array|
  array.push(
    uid: folder,
    title: folder,
    arg: "#{folder} "
  )
}

puts({ items: Script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List shortcuts folders</string>
				<key>title</key>
				<string>Shortcuts Folders</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/tmp/com.alfredapp.shortcuts.workflowname.txt</string>
				<key>filetext</key>
				<string>{var:shortcut}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>1323F48F-E437-45DD-B8A6-33410D2A376D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly tmp_file="${1}"

/usr/bin/shortcuts view "$(&lt; "${tmp_file}")"

rm "${tmp_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A77AD31-D9B7-4FE5-869D-ADAB4C03C845</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Run the All Shortcuts Keyword (defautl: `sc`) to list all your shortcuts or the Shorcut Folders Keyword (default: `scd`) to filter by folder name.

![Alfred search for sc](images/about/sc.png)

* ↩: Run the shortcut.
* ⌘↩: Run the shortcut with an argument.
* ⌥↩: Open the shortcut for editing.

Use the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/) to run the shortcut on files or as another way to give an argument.</string>
	<key>uidata</key>
	<dict>
		<key>0A77AD31-D9B7-4FE5-869D-ADAB4C03C845</key>
		<dict>
			<key>note</key>
			<string>Edit shortcut</string>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>1128D030-5A3C-43C0-8B79-84EE063E2F1C</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>1323F48F-E437-45DD-B8A6-33410D2A376D</key>
		<dict>
			<key>note</key>
			<string>Bypass NSTask decomposition</string>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>176F2785-CF64-434B-BA5E-B1C8896D5C01</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>25855119-4AFB-4E7F-85B6-368A1A69EB9B</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>3DC66537-4080-4948-9659-D4295927FF6D</key>
		<dict>
			<key>note</key>
			<string>Pass previously given argument</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</key>
		<dict>
			<key>note</key>
			<string>List shortcuts by folder name</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>54C3747A-A884-4018-BAD0-8D3926DDBCE9</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>566F4FB1-471E-4356-AF50-6A47EBC49EC5</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</key>
		<dict>
			<key>note</key>
			<string>Prepare argument to run shortcut</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>A4E64080-1FE3-4DC7-B236-87D07ED268B1</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</key>
		<dict>
			<key>note</key>
			<string>Prepare path to run shortcut</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</key>
		<dict>
			<key>xpos</key>
			<real>1210</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</key>
		<dict>
			<key>note</key>
			<string>List all shortcuts</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F0916DDA-3E78-43CC-82B8-250F87B06233</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>sc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>All Shortcuts Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>all_shortcuts_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>scd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shorcut Folders Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>shortcuts_folders_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.11</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/shortcuts-workflow/</string>
</dict>
</plist>
