<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.shortcuts</string>
	<key>connections</key>
	<dict>
		<key>1128D030-5A3C-43C0-8B79-84EE063E2F1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>176F2785-CF64-434B-BA5E-B1C8896D5C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25855119-4AFB-4E7F-85B6-368A1A69EB9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC66537-4080-4948-9659-D4295927FF6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4997C1F9-CB10-4F2D-9932-212E11D60938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>866AE316-D3A4-4781-8E61-4A2704FE4996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>54C3747A-A884-4018-BAD0-8D3926DDBCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>756F0559-8EAD-4114-839C-92C1EA776DFF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>176F2785-CF64-434B-BA5E-B1C8896D5C01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>05992BB6-2B0A-4367-885F-0CF4FCDED305</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1128D030-5A3C-43C0-8B79-84EE063E2F1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>566F4FB1-471E-4356-AF50-6A47EBC49EC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>566F4FB1-471E-4356-AF50-6A47EBC49EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>866AE316-D3A4-4781-8E61-4A2704FE4996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>508ADF6A-E5A3-45BF-84F4-FF1CA288019B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98519D99-27D5-4D08-9AD4-4732EC78E008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F341BC-F432-4F3E-A10C-62320836FAE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4E64080-1FE3-4DC7-B236-87D07ED268B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</key>
		<array/>
		<key>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DC66537-4080-4948-9659-D4295927FF6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4E64080-1FE3-4DC7-B236-87D07ED268B1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98519D99-27D5-4D08-9AD4-4732EC78E008</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit Shortcut</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4997C1F9-CB10-4F2D-9932-212E11D60938</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Force Cache Update</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run installed macOS shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Run shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>argument</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:input_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>566F4FB1-471E-4356-AF50-6A47EBC49EC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:all_shortcuts_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting shortcuts…</string>
				<key>script</key>
				<string>// Helpers
function envVar(varName) {
  return $.NSProcessInfo.processInfo.environment.objectForKey(varName).js
}

function makeFolder(path) {
  $.NSFileManager
    .defaultManager
    .createDirectoryAtPathWithIntermediateDirectoriesAttributesError(
      path,
      true, undefined, undefined
    )
}

function readFile(path) {
  const data = $.NSFileManager.defaultManager.contentsAtPath(path)
  const string = $.NSString.alloc.initWithDataEncoding(data, $.NSUTF8StringEncoding).js
  return string
}

function writeFile(path, text) {
  $.NSString
    .alloc
    .initWithUTF8String(text)
    .writeToFileAtomicallyEncodingError(path, true, $.NSUTF8StringEncoding, undefined)
}

// Get STDOUT from command, as array split from newlines, without empty elements
function shortcutsCommand(...arguments) {
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.alloc.initFileURLWithPath("/usr/bin/shortcuts")
  task.arguments = arguments
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFile
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  return stringOut.split("\n").filter(line =&gt; line)
}

// Cache Helpers
const cacheMinutes = 5
const cachePath = `${envVar("alfred_workflow_cache")}/cache.json`

function cacheExist() {
  return $.NSFileManager.defaultManager.fileExistsAtPath(cachePath)
}

function oldCache(ttlMinutes) {
  const ttl = ttlMinutes * 60 * 1000 // Milliseconds
  const currentTime = new Date().getTime()
  const cacheTime = parseInt(envVar("cache_age"))

  if (ttl + cacheTime &gt; currentTime) return false
  return true
}

function buildCache() {
// Array of arrays, listing shortcuts and their directories
  const shortcutsList = (function() {
    let list = []
    let uncategorised = shortcutsCommand("list")
    const folders = shortcutsCommand("list", "--folders")

    // Add shortcuts with folders to final list
    folders
      .forEach(folder =&gt; { // For each folder
        shortcutsCommand("list", "--folder-name", folder)
          .forEach(shortcut =&gt; { // For each shortcut in folder
            uncategorised.splice(uncategorised.indexOf(shortcut), 1) // Remove from uncategorised
            list.push([shortcut, folder])
          })
      })

    // Add folderless shortcuts to final list
    uncategorised.forEach(shortcut =&gt; list.push([shortcut, ""]))

    return list
  })()

  // Build items
  const sfItems = shortcutsList.map(categorised =&gt; {
    const shortcut = categorised[0]
    const folder = categorised[1]

    const inputType = (function() {
      // If input paths have been specificed
      const envInputPaths = envVar("input_paths")

      if (envInputPaths) {
        const inputPaths = envInputPaths.split("\t")
        const pathsString = inputPaths.join("\n")

        return {
          subtitle: inputPaths.length &gt; 1 ? "Paths: " + pathsString : "Path: " + pathsString,
          mods: { cmd: { valid: false, subtitle: "Input already set: " + pathsString } }
        }
      }

      // If an argument has been specified
      const envArgument = envVar("argument")

      if (envArgument) return {
        subtitle: "Argument: " + envArgument,
        mods: { cmd: { valid: false, subtitle: "Input already set: " + envArgument } }
      }

      // Else return folder name and allow new arguments
      return {
        subtitle: folder,
        mods: { cmd: { subtitle: "Run with argument" } }
      }
    })()

    return {
      variables: { shortcut: shortcut },
      uid: shortcut + " " + folder,
      title: shortcut,
      subtitle: inputType.subtitle,
      mods: inputType.mods,
      match: shortcut + " " + folder
    }
  })

  // Build JSONs
  const nowJSON = JSON.stringify({ items: sfItems })

  const cacheJSON = JSON.stringify({
    variables: { cache_age: new Date().getTime() },
    rerun: 0.1,
    items: sfItems
  })

  // Write cache
  makeFolder(envVar("alfred_workflow_cache"))
  writeFile(cachePath, cacheJSON)

  // Output result
  return nowJSON
}

// Main
function run() {
  // No cache, build it
  if (!cacheExist()) return buildCache()

  // Cache never loaded, load from disk for instant results
  if (!envVar("cache_age")) return readFile(cachePath)

  // Old cache, rebuild
  if (oldCache(cacheMinutes)) return buildCache()

  // Recent cache, load from disk
  return readFile(cachePath)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List all shortcuts</string>
				<key>title</key>
				<string>Shortcuts</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>list_shortcuts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Run shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:input_paths}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Paths</string>
						<key>uid</key>
						<string>756F0559-8EAD-4114-839C-92C1EA776DFF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Arguments</string>
						<key>uid</key>
						<string>05992BB6-2B0A-4367-885F-0CF4FCDED305</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Input</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54C3747A-A884-4018-BAD0-8D3926DDBCE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>176F2785-CF64-434B-BA5E-B1C8896D5C01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "inputmode" : "{var:inputmode}",
      "shortcut" : "{var:shortcut}",
      "outputmode" : 0
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>25855119-4AFB-4E7F-85B6-368A1A69EB9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:argument}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DC66537-4080-4948-9659-D4295927FF6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputmode</key>
					<string>-1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1128D030-5A3C-43C0-8B79-84EE063E2F1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Give {var:shortcut} argument</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4E64080-1FE3-4DC7-B236-87D07ED268B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:shortcuts_folders_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting shortcuts…</string>
				<key>script</key>
				<string>require 'json'
require 'open3'

Folders = Open3.capture2('/usr/bin/shortcuts', 'list', '--folders').first.split("\n")

Script_filter_items = Folders.each_with_object([]) { |folder, array|
  array.push(
    uid: folder,
    title: folder,
    arg: "#{folder} "
  )
}

puts({ items: Script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List shortcuts folders</string>
				<key>title</key>
				<string>Shortcuts Folders</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>shortcuts://open-shortcut?name={var:shortcut}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1F341BC-F432-4F3E-A10C-62320836FAE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>98519D99-27D5-4D08-9AD4-4732EC78E008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>866AE316-D3A4-4781-8E61-4A2704FE4996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>list_shortcuts</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>508ADF6A-E5A3-45BF-84F4-FF1CA288019B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{const:alfred_workflow_cache}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4997C1F9-CB10-4F2D-9932-212E11D60938</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search all your shortcuts via the `sc` keyword or search by folder name with `scd`.

![Alfred search for sc](images/about/sc.png)

* &lt;kbd&gt;↩&lt;/kbd&gt;: Run the shortcut.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Run the shortcut with an argument.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Open the shortcut for editing.

Use the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/) to run the shortcut on files or as another way to provide an argument.

![Universal Action to run shortcut](images/about/ua.png)

The list of shortcuts is cached for faster results. An immediate cache rebuild can be forced with &lt;kbd&gt;fn&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;.</string>
	<key>uidata</key>
	<dict>
		<key>1128D030-5A3C-43C0-8B79-84EE063E2F1C</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>176F2785-CF64-434B-BA5E-B1C8896D5C01</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>1DFB80A0-3BC8-4D10-B25F-5738F65D531B</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>25855119-4AFB-4E7F-85B6-368A1A69EB9B</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>3DC66537-4080-4948-9659-D4295927FF6D</key>
		<dict>
			<key>note</key>
			<string>Pass previously given argument</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>4997C1F9-CB10-4F2D-9932-212E11D60938</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>4CA0F7EA-3AF3-48FB-9F9A-AEF9797EDC3B</key>
		<dict>
			<key>note</key>
			<string>List shortcuts by folder name</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>508ADF6A-E5A3-45BF-84F4-FF1CA288019B</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>54C3747A-A884-4018-BAD0-8D3926DDBCE9</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>566F4FB1-471E-4356-AF50-6A47EBC49EC5</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>72481DFD-5DA2-4A5C-A453-FF8E93304DD5</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>866AE316-D3A4-4781-8E61-4A2704FE4996</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>8AD8B6B2-7CFD-4111-B81C-69158A3E4D4C</key>
		<dict>
			<key>note</key>
			<string>Prepare argument to run shortcut</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>98519D99-27D5-4D08-9AD4-4732EC78E008</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>A4E64080-1FE3-4DC7-B236-87D07ED268B1</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B6B11028-3EFA-4B12-A13A-D2E45B31EEDB</key>
		<dict>
			<key>note</key>
			<string>Prepare path to run shortcut</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>BFCDF55C-5BEF-4517-BDCB-4561FFAEA81B</key>
		<dict>
			<key>xpos</key>
			<real>1210</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>CFFE2B9A-5D09-42D3-AA37-04D143AD527C</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>D1F341BC-F432-4F3E-A10C-62320836FAE2</key>
		<dict>
			<key>note</key>
			<string>Edit shortcut</string>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>EE84DB71-9CAA-4783-BFE6-528D7F1D1D47</key>
		<dict>
			<key>note</key>
			<string>List all shortcuts</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>sc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>All Shortcuts Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>all_shortcuts_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>scd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shorcut Folders Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>shortcuts_folders_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/shortcuts-workflow/</string>
</dict>
</plist>
